# =============================
# Go
# =============================

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage.out

# Binary
bin/
dist/
build/

# =============================
# IDE
# =============================

.vscode/
.idea/

*.swp
*.swo

# =============================
# Mac
# =============================

.DS_Store

# =============================
# Logs
# =============================

*.log
logs/

# =============================
# Env Files
# =============================

.env
.env.*

!.env.example

# =============================
# Docker
# =============================

docker-data/
docker-volumes/

# =============================
# Generated
# =============================

tmp/
temp/

# =============================
# Go Modules
# =============================

vendor/

# =============================
# Proto Generated
# =============================

*.pb.go
*.pb.gw.go
*.pb.validate.go
